.top {
  min-height: 374px;
  background-image: url('../../img/bg-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      6.52deg,
      rgba(156, 46, 41, 0.34) 6.92%,
      rgba(156, 46, 41, 0.1224) 61%
    );
  }

  @media (min-width: 768px) {
    min-height: 487px;
    background-image: url('../../img/bg-tablet.jpg');
  }
  @media (min-width: 1000px) {
    min-height: 600px;
    background-image: url('../../img/bg-laptop.jpg');
  }
  @media (min-width: 1170px) {
    min-height: 726px;
    background-image: url('../../img/bg-desktop.jpg');
  }
}

.top__container {
}

.top__title {
  position: relative;
  z-index: 2;
  font-family: var(--font-mont);
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 70px;
  max-width: calc(247px + 80px);

  @media (min-width: 768px) {
    max-width: 500px;
    font-size: 25px;
  }

  @media (min-width: 1000px) {
    font-size: 30px;
    line-height: 37px;
    padding: 0;
    max-width: 666px;
    color: #000000;
    padding-bottom: 80px;

    span {
      color: var(--color-accent);
    }
  }

  @media (min-width: 1170px) {
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    max-width: 900px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 75px;
    transform: skew(15deg);
    width: 278px;
    height: 374px;
    background: rgba(156, 46, 41, 0.7);
    z-index: -1;

    @media (min-width: 768px) {
      width: 400px;
      min-height: 487px;
    }
    @media (min-width: 1000px) {
      display: none;
    }
    @media (min-width: 1170px) {
      // min-height: 726px;
    }
  }
}

.top__link {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-white);
  margin-left: 200px;

  &::before {
    content: '';
    position: absolute;
    top: -28px;
    right: -60px;
    background-image: url('../../img/icons/ellipse.svg');
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;

    @media (min-width: 1000px) {
      background-image: url('../../img/icons/ellipse-bg.svg');
    }
    @media (min-width: 1170px) {
      top: -25px;
      right: -43px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('../../img/icons/arrow.svg');
    background-repeat: no-repeat;
    width: 134px;
    height: 16px;
    top: 9px;
    left: -30px;
    @media (min-width: 1000px) {
      background-image: url('../../img/icons/arrow-bg.svg');
    }
    @media (min-width: 1170px) {
      width: 156px;
      top: 15px;
      left: -16px;
    }
  }

  @media (min-width: 768px) {
    margin-left: 300px;
  }
  @media (min-width: 1000px) {
    color: #000000;
    margin: 0;
    position: absolute;
    right: 60px;
    bottom: 80px;
  }
  @media (min-width: 1170px) {
    font-size: 16px;
    line-height: 21px;
    right: 15px;
    bottom: 105px;
  }
}

.top__head {
  @media (min-width: 1000px) {
    position: relative;
    display: flex;
    max-width: 935px;
  }
  @media (min-width: 1170px) {
    max-width: unset;
  }
}

.top__head-container {
  padding: 0 50px;

  @media (min-width: 1170px) {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
