@font-face {
	font-family: LetoSans;
	font-display: swap;
	src: url("../fonts/LetoSans-Bold.woff2") format("woff2"), url("../fonts/LetoSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: LetoSans;
	font-display: swap;
	src: url("../fonts/LetoSans-Regular.woff2") format("woff2"), url("../fonts/LetoSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
