.footer {
  background-color: #f7f6f5;
  padding-top: 15px;
  padding-bottom: 67px;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
}

.footer__container {
  padding: 0 50px;

  @media (min-width: 1170px) {
    padding: 0 20px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, min-content);

  @media (min-width: 768px) {
    grid-template-rows: repeat(5, min-content);
  }
  @media (min-width: 1000px) {
    grid-template-columns: max-content 1fr max-content;
  }
}

.footer__info {
  grid-column: span 2;
  margin-bottom: 28px;
  p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-text);
  }

  @media (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.footer__title {
  max-width: 188px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 10px;
  span {
    color: var(--color-accent);
  }

  @media (min-width: 768px) {
    margin-bottom: 22px;
  }
}

.footer__menu {
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @media (min-width: 1170px) {
      flex-direction: row;
      column-gap: 35px;
    }
  }

  ul li a {
    @media (min-width: 1170px) {
      font-size: 18px;
      line-height: 23px;
    }
  }

  @media (min-width: 768px) {
    grid-row: 1/-6;
    grid-column: 2/3;
    justify-self: end;
  }
  @media (min-width: 840px) {
    justify-self: center;
  }
}

.footer__time {
  max-width: 200px;
  img {
    display: block;
    margin-left: auto;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin: 0;
      margin-bottom: 15px;
    }
  }
  p {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin-bottom: 15px;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  grid-column: 2 / 3;
  grid-row: 2 / -5;

  @media (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  @media (min-width: 1000px) {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / -5;
  align-self: flex-end;
  gap: 10px;

  @media (min-width: 768px) {
    justify-self: end;
  }
  @media (min-width: 840px) {
    justify-self: center;
  }
  @media (min-width: 1000px) {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: end;
  }
  @media (min-width: 1170px) {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
}

.footer__copyright {
  grid-column: span 2;
  font-size: 8px;
  line-height: 10px;
  color: var(--color-text);
  margin-top: 30px;

  @media (min-width: 768px) {
    grid-column: span 2;
  }
  @media (min-width: 1000px) {
    grid-column: span 3;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 10px;
}
